.menu {
    position: absolute;
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    width: 20%;
}

.menu-title {
    text-align: center;
    margin-top: 3%;
}

.menu-divider {
    margin: 3% 3%;
}

.menu-item {
    margin: 3% 10% 3%;
}

.menu-select {
    height: 10%;
}

.menu-comment {
    height: 40%;
}

.menu-submit {
    text-align: center;
    width: 80%;
    margin: 3% 10% 5%;
}

.menu-close {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    width: 30px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-family: Arial, sans-serif;
    background: rgb(250, 250, 250);
}

.menu-close:hover {
    background-color: lightgray;
}
