#navbar-brand {
  color: rgba(255, 255, 255);
  font-size: 1.25rem;
}

#navbar-brand:hover {
  text-decoration: underline;
}

.navbar-link {
  color: rgba(255, 255, 255, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.navbar-link:hover {
  color: rgba(255, 255, 255);
  text-decoration: underline;
}

.navbar-button:not(:first-of-type) {
  margin-left: 1em;
}
